/* PALETTE: https://coolors.co/0b132b-1c2541-3a506b-5bc0be-ffffff */


:root {
  --left-primary: #ff00b1;
  --right-primary: #8cc63f;
  --warmgrey: #232323;
  --warmwhite:



}


html {
  padding: 0;
  margin: 0;
  color: rgb(50, 104, 221);
  height: 100%;
  font-family: "Raleway";

}

body {
  background-color: #121212;
  padding: 0;
  margin: 0;
  height: 100%

}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  background-color: var(--warmgrey);
  overflow: hidden;
  top: 0px;
}

.logo-container {
  margin-right: auto;
  height: 100%;
  width: auto;
  flex: 1;
}

#header h1 {
  font-size: 55pt;
  text-align: center;
  color: white;
  font-family: Raleway;
  align-self: center;
  text-transform: uppercase;


}

.menu-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

}

#twitchConnectionButton {
  background-color: #9400ff;
  border: none;
  color: white;
  font-family: inherit;
}

#twitchConnectionButton:hover {
  background-color: #7a00d1;
}

#spinnerTwitchConnection {
  display: none;
}

#twitchProfileConnected {
  height: 45px;
  width: auto;
  margin-left: 10èx;
}

#twitchOptions {
  display: none;
  margin-top: 10px;
}


.form-switch {
  margin-top: 0px;

}

.btn-primary {
  border: none;
  background-color: #5BC0BE;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  border: none;
  margin: 5px;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease 0s;
}

.header-button:hover {
  color: #1C2541;
  background-color: #5BC0BE;
}

#menuButton {
  border-radius: 100%;
  margin: 10px;
  background-color: #1C2541;
  border: none;
  height: 50px;
  width: 50px;
}

#menuButton:hover {
  border-radius: 100%;
  margin: 10px;
  background-color: #5BC0BE;
  border: none;
  color: #0B132B;
}

.tab-contet {

  height: fit-content;

}


.form-floating {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 50px;
}

.match-container {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: fit-content;
  overflow: hidden;
  padding-top: 4%;
  padding-bottom: 4%;
}

.opponent-card {
  border:2px solid black;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: white !important;
  overflow: hidden;
  padding: 0;
  align-items: center;
  border-radius: 25px;
  aspect-ratio: 9/16;

  transition: all 0.4s ease 0.1s;
}

.opponent-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px 15px black;
  
  
}

.opponent-card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  background-color: var(--warmgrey) !important;
  align-self: flex-end;

}


.opponent-label {
  font-family: Helvetica;
  text-align: center;
  font-size: 18pt;
  font-weight: 900;
  margin-top: 10px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 20px;
  background-color: transparent !important;
  color: black;
}

.modifier-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  visibility: visible;
  align-self: flex-end;
  color: white;
  padding-left: 15px;
  padding-right: 15px;

}

.modifier-title {
  font-family: Raleway;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 15px;

}

.modifier-container-buttons {
  display: flex;
  flex-direction: row;

}


.modifier-label {
  font-family: Raleway;
  font-weight: 900;
  overflow: auto;
  font-size: 15pt;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  width: 100%;
  height: 40%;
  background-color: black;
  border-radius: 10px;
  padding-bottom: 30%;

}

.modifier-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  border: none;
  border-radius: 100%;
  border: none;
  margin: 10px;
  margin-left: 0px;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease 0s;
}

.left {
  background-color: var(--left-primary);
  color: var(--left-primary);
}

.right {
background-color: var(--right-primary);
color: var(--right-primary);
}


.modifier-button:hover {
  color: white;
  background-color: black;
}



.opponent-img {
  object-fit: cover;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  opacity: 100%;
  border: none;
  margin: 0;

}
.opponent-card:hover .opponent-button-container {
  display: flex;


}

.opponent-button-container {
  background-color: transparent !important;
  display: none;
  position: absolute;
  flex-direction: row;
  justify-content: right;
  z-index: 5;
  right: 10px;
  top: 10px;

  transition: all 0.3s ease 0.1s;

}

.opponent-button {
display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  border: none;
  border-radius: 100%;
  border: none;
  margin: 10px;
  margin-left: 0px;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease 0s;


}

.opponent-button:hover {
  background-color: black;


}

.vs-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;

}

.vs-label {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  font-size: 55px;
  text-align: center;
  color: #0B132B;
  position: relative;
  top: 50%;
  margin-bottom: 10px;

}

#newMatch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 5px;
  background-color: #1C2541;
  color: white;
  border: none;
  height: 50px;
  width: 50px;
  transition: all 0.3s;


}

#newMatch-button:hover {
  border-radius: 100%;
  margin: 10px;
  background-color: #5BC0BE;
  border: none;
  color: #0B132B;
}

#twitch-container {
  background-color: #1C2541;
  padding: 40px;
  display: none;
  flex-flow: column;
  height: 100%;
  min-height: fit-content;
  color: white;
}

#voters-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  min-height: 50px;
}

.progress {
  margin: auto 20%;
  box-sizing: border-box;
}

.progress-bar {
  background-color: #5BC0BE;
  height: auto;
  box-sizing: border-box;
}


.match-buttons-container {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;

}

.teamSelection-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.teamSelection-button {
  display: flex;
  flex-direction: row;
  margin: 25px;
  align-items: center;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: white;
  color: #1C2541;

  transition: all 0.3s;
}

.teamSelection-button:hover {

  background-color: #1C2541;
  color: white;

}

.selected {
  background-color: #1C2541;
  color: white;

}

.teamSelection-icon {
  margin: 5px;
}

.teamSelection-label {
  margin-right: 15px;
}

#winnerConfirmation-button {
  width: 100px;
  align-self: center;
  visibility: hidden;


}